@font-face
{
    font-family: Helvetica_Neue;

    src: url(./fonts/Helvetica_Neue/HelveticaNeueCyr-Light.otf);
}

@font-face
{
    font-family: Helvetica_Neue_Italic;

    src: url(./fonts/Helvetica_Neue/HelveticaNeueCyr-Italic.otf);
}

@font-face
{
    font-family: Helvetica_Neue_medium;

    src: url(./fonts/Helvetica_Neue/HelveticaNeueCyr-Medium.otf);
}

@font-face
{
    font-family: Roboto;

    src: url(./fonts/roboto/Roboto-Regular.ttf);
}

@font-face
{
    font-family: Roboto_light;

    src: url(./fonts/roboto/Roboto-Light.ttf);
}

@font-face
{
    font-family: Roboto_medium;

    src: url(./fonts/roboto/Roboto-Medium.ttf);
}

*
{
    margin: 0;
    padding: 0;
}

.promo
{
    background-image: url(./images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
	
	min-width: 1200px;
}

.site_menu,
.site_menu_bottom
{
    padding: 40px 0 22px 0;

    color: #00445c;
    background-color: rgba(246,248,249,.7);
}

.site_menu
{
    height: 88px;

    border-bottom: 1px solid #81b3e3;
}

.content
{
	width: 1140px;
    margin: 0 auto;
	outline: 1px solid red;
}

.header_top,
.header_bottom,
.header_right
{
    display: inline-block;

    width: 379px;
}

.logo 
{
	background-image: url(./images/floweis_logo.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 203px;
	height: 50px;
	display: inline-block;
}

.header_top
{
    font-family: Georgia;
    font-size: 28px;
    font-style: italic;

    text-align: center;
	padding-left: 170px;
	margin-bottom: 12px;
	overflow: hidden;
}

.header_right
{
    font-family: Roboto;
    font-size: 20px;

    text-align: right;

}


.phone_big
{
    font-size: 26px;

    color: #0e71cf;
}

.button
{
    font-family: Helvetica_Neue_medium;
    font-size: 12px;

    display: inline-block;

    width: 201px;
    height: 46px;
    margin-top: 13px;
    padding-top: 15px;

    text-align: center;

    border-radius: 45px;
    background-color: #0e71cf;
	box-sizing: border-box;
}

.button a
{
    text-decoration: none;

    color: #fff;
}

.advertisement
{
    position: relative;

    height: 845px;
}

.slogan
{
    font-family: Roboto_light;
    font-size: 24px;

    display: inline-block;

    width: 432px;
    margin-top: 285px;
}

.slogan p
{
    display: inline-block;

    margin-top: 5px;
    padding: 10px 26px;

    color: #fff;
    background-color: #0e71cf;
}

.ellipse
{
    position: absolute;
    bottom: 110px;
    left: 315px;

    display: inline-block;
}

.circle_minus,
.circle_plus
{
    position: absolute;

    display: inline-block;

    background-clip: padding-box;
	box-sizing: border-box;
    width: 60px;
    height: 60px;
	padding: 10x;


    text-align: center;

    color: #fff;
    border: 10px solid rgba(14,113,207,.6);
    border-radius: 50%;
    background-color: #0e71cf;
	
}

.circle_minus
{
    font-size: 20px;

    z-index: 11;
    bottom: 110px;
    left: 100px;

    padding-top: 8px;
}

.circle_plus
{
    font-size: 33px;

    z-index: 11;
    top: 110px;
    right: 112px;
}

.description
{
    font-family: Roboto_light;
    font-size: 16px;

    position: absolute;
    z-index: 10;
    bottom: 20px;
    left: 130px;

    display: inline-block;

    width: 484px;
    height: 76px;
    padding: 22px 28px;

    color: #fff;
    border-radius: 12px;
    background-color: rgba(30,57,79,.9);
}

.bottle_center
{
    display: inline-block;
}

.advertisement bottle_center
{
    position: absolute;
}

.bottle_blue
{
    position: absolute;
    bottom: 100px;
    left: 440px;

    display: inline-block;
}

.message_form
{
    float: right;

    margin-top: 27px;
}

.message_form,
.message_form_bottom
{
    display: inline-block;

    box-sizing: border-box;
    width: 380px;
    height: 380px;
    padding-top: 40px;

    text-align: center;

    color: #fff;
    border-radius: 50%;
    background-color: #1f394f;
}

.get_price
{
    font-family: Georgia;
    font-size: 22px;
    font-style: italic;
	
	position: relative;
	padding-bottom: 10px;
}

.get_price::after 
{
    position: absolute;
	left: 50%;
	bottom:0;
	
	width: 50px;
	height: 1.5px;
    
	margin-left: -25px;
	vertical-align: bottom;
    border-bottom: 1.5px solid #0e71cf;
	
	content: '';
}

.message_form input
{
    width: 200px;
    height: 46px;
    margin-top: 13px;
    padding: 0 20px;

    border: none;
    border-radius: 45px;
    background-color: #364d61;
}

input::-webkit-input-placeholder 
{
	color: #aeb5bb; 
	font-family: Helvetica_Neue;
    font-size: 12px;
}

input::-moz-placeholder 
{
	color: #aeb5bb; 
	font-family: Helvetica_Neue;
    font-size: 12px;
}

.header
{
    font-family: Georgia;
    font-size: 24px;
    font-style: italic;

    padding-top: 55px;

    text-align: center;
}

.line
{
    width: 2px;
    height: 54.5px;
    margin-top: 13px;
    margin-left: 50%;

    border-left: 2px solid #0e71cf;
}

.line::before
{
    position: absolute;

    display: inline-block;

    width: 5.5px;
    height: 5.5px;
    margin-left: -4.7px;
	margin-top: -1px;

    content: '';

    border: 1px solid #0e71cf;
    border-radius: 50%;
    background-color: #0e71cf;
	
	box-sizing: border-box;
}

.presentation
{
    display: inline-block;

    margin-top: 20px;
}

.presentation p
{
    font-family: Roboto_light;
    font-size: 20px;

    padding-bottom: 30px;

    text-align: center;

    color: #00445c;
}

.bottle_lime
{
    position: relative;
	left: 230px;
}

.flavors
{
    padding-top: 40px;
}

.flavors li
{
    display: inline-block;

    width: 54px;
    height: 54px;

    list-style-type: none;

    vertical-align: top;
}

.flavors img
{
    padding: 5px 0 0 6px;
}

.current
{
    background-image: url(./images/ellipse_small.png);
    background-repeat: no-repeat;
}

.recomendation
{
    font-family: Roboto_light;
    font-size: 16px;
    
    position: absolute;

    display: inline-block;

    margin-top: 80px;
    padding-left: 50px;

    color: #00445c;
}

.recomendation li
{
    padding-bottom: 20px;

    list-style-type: none;
}

.recomendation_header
{
    font-family: Roboto_medium;
    font-size: 18px;
 
	margin-bottom: 20px;

    color: #0e71cf;
}

.recomendation li::before
{
    display: inline-block;

    box-sizing: border-box;
    width: 8.5px;
    height: 8.5px;
    margin-right: 8.5px;

    content: '';

    border: 1.5px solid #0e71cf;
    border-radius: 50%;
}

.sale
{
    position: relative;

    display: inline-block;

    margin: 29px 0 0 20px;
}

.sale_current
{
    position: absolute;

    display: inline-block;

    box-sizing: border-box;
    width: 140px;
    height: 140px;
    padding-top: 30px;

    text-align: center;

    border-radius: 50%;
    background-color: #0e71cf;
}

.first_line_10
{
    font-family: Roboto;
    font-size: 54px;

    color: #fff;
}

.second_line_10
{
    font: 16px italic georgia ;

    color: #fff;
}

.price
{
    position: absolute;
    z-index: 2;
    right: 50px;
    bottom: 115px;

    display: inline-block;
}

.new_price,
.new_small,
.old_price,
.old_small
{
    font-family: Georgia;
    font-style: italic;
}

.new_price
{
    font-size: 52px;

    color: #0e71cf;
}

.new_small
{
    font-size: 32px;

    color: #0e71cf;
}

.old_price
{
    font-size: 35px;

    text-align: center;

    color: #7a86a2;
}

.old_small
{
    font-size: 25px;

    color: #7a86a2;
}

.old_price::before
{
    width: 190px;
    height: 1.5px;
    margin-bottom: 8px;
	margin-right: -170px;
	
	content: '';

    border-bottom: 1.5px solid #7a86a2;
	
	display: inline-block;
}

.message_form_mid
{
    display: inline-block;
    float: right;

    box-sizing: border-box;
    width: 430px;
    height: 430px;
    margin-top: 110px;
    padding-top: 40px;

    text-align: center;

    color: #fff;
    border-radius: 50%;
    background-color: #1f394f;
}

.message_form_mid input
{
    font-family: Helvetica_Neue;
    font-size: 12px;
    font-style: medium;

    box-sizing: border-box;
    width: 240px;
    height: 46px;
    margin-top: 13px;
    padding: 0 20px;

    color: #aeb5bb;
    border: none;
    border-radius: 45px;
    background-color: #364d61;
}

.condition
{
    font-family: Roboto;
    font-size: 14px;
    font-style: light;

    margin-top: 10px;
}

.advantages_list
{
    display: inline-block;
}

.advantages_list li
{
    font-family: Roboto-Light;
    font-size: 16px;
    
    width: 600px;

    list-style-type: none;

    color: #00445c;
}

.advantages_list li::before
{
    display: inline-block;

    width: 24px;
    height: 24px;
    margin-top: 20px;
    margin-right: 15px;

    content: '';

    background-image: url(./images/round.png);
}

.tooth
{
    position: relative;

    display: inline-block;

    margin: 45px 0 0 -50px;
	
}

.slogan_mid
{
    position: absolute;
    bottom: 100px;

    display: inline-block;

    width: 470px;
    margin-left: 115px;

    text-align: right;
}

.slogan_mid p
{
    font-family: Roboto;
    font-size: 20px;

    display: inline-block;

    margin-top: 5px;
    padding: 10px 26px;

    text-transform: uppercase;

    color: #fff;
    background-color: #0e71cf;
}

.dentist_recomendation
{
    position: relative;

    height: 585px;
}

.form_bottom
{
    position: absolute;
    bottom: 65px;
    left: 88px;
}

.message_form_bottom input
{
    font-family: Helvetica_Neue;
    font-size: 12px;

    width: 200px;
    height: 46px;
    margin-top: 13px;
    padding: 0 20px;

    color: #aeb5bb;
    border: none;
    border-radius: 45px;
    background-color: #364d61;
}

.dentist
{
    position: absolute;
    right: -5px;
    bottom: 1px;

    display: inline-block;

    width: 535px;
    margin: 50px 0 0 144px;
}

.slogan_bottom
{
    position: absolute;
    right: 275px;
    bottom: 40px;

    display: inline-block;

    box-sizing: border-box;
    width: 310px;

    text-align: left;
}

.slogan_bottom p
{
    font-family: Roboto;
    font-size: 20px;

    display: inline-block;

    margin-top: 5px;
    padding: 10px 26px;

    color: #fff;
    background-color: #0e71cf;
}

.opinion
{
    position: relative;
}

.doctors_opinion_left,
.doctors_opinion_right,
.doctors_opinion_center
{
    display: inline-block;

    width: 253px;
    margin-top: 35px;
    padding: 25px 20px;
}

.doctors_opinion_left
{
    margin-left: 80px;
}

.doctors_opinion_center
{
    margin: 0 50px;

    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}

.slider_grey
{
    position: absolute;
    bottom: 300px;

    display: inline-block;
}

.slider_blue
{
    position: absolute;
    bottom: 300px;

    display: inline-block;

    padding-left: 60px;
}

.photo
{
    margin-left: 50px;
}

.full_name
{
    font-family: Georgia;
    font-size: 20px;
    font-style: italic;

    margin: 22px 0 8px 0;

    text-align: center;

    color: #0e71cf;
}

.profession
{
    font-family: Roboto_light;
    font-size: 14px;

    margin-bottom: 20px;

    text-align: center;

    color: #898a8a;
}

.line_opinion
{
    width: 50px;
    margin: 0 auto;

    border-bottom: 2px solid #f0f6ff;
}

.header_opinion
{
    font-family: Georgia;
    font-size: 18x;

    margin: 15px 2px;

    color: #0e71cf;
}

.opinion_text
{
    font-family: Helvetica_Neue_Italic;
    font-size: 14px;
    
    margin-bottom: 20px;

    text-align: justify;

    color: #747474;
}

.read_more
{
    font-family: Georgia;
    font-size: 14px;
    font-style: italic;

    position: relative;

    padding-left: 138px;

    color: #0e71cf;
}

.button_read
{
    font-size: 20px;

    position: absolute;

    display: inline-block;

    box-sizing: border-box;
    width: 26px;
    height: 26px;
    margin-top: -5px;
    margin-left: 10px;

    text-align: center;

    color: #fff;
    border-radius: 50%;
    background-color: #0e71cf;
}

.post_logos
{
    box-sizing: border-box;
    height: 100px;
    margin: 40px 0 50px 0;
}

.post_logos li
{
    display: inline-block;

    margin-left: 128px;
}

.post_logos li:first-child
{
    margin-bottom: 25px;
    margin-left: 0;
}

.menu_bottom
{
    display: inline-block;

    width: 100%;
}

.info_bottom div
{
    margin-bottom: 45px;

    vertical-align: top;
}

.info
{
    font-family: Roboto_light;
    font-size: 16px;

    position: relative;

    display: inline-block;

    margin-left: 30px;

    color: #00445c;
}

.info p
{
    display: inline-block;

    padding-left: 30px;
}

.ellipse_bottom
{
    position: absolute;
}

.free
{
    color: #0e71cf;
}

.menu_bottom div:first-child
{
    margin-left: 0;
}

.header_bottom
{
    font-family: Georgia;
    font-size: 24px;
    font-style: italic;

    text-align: center;
	
	margin-left: 150px;
	width: 230px;
}

.logo_bottom
{
	background-image: url(./images/logo_nanoplast.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 90px;
	height: 45px;
	display: inline-block;
	margin-left: 20px;
}

.line_bottom
{
    width: 200px;
    height: 0.5px;
    margin: 64px 0 23px 0;

    border-bottom: 1.5px solid #dadee7;
}

.nanoplast
{
    padding-left: 20px;
}
